<ul class="grid grid-cols-1 gap-6 pt-5 list-none p-0">
  <li class="flex items-start gap-4">
    <div class="h-[45px] w-[45px] bg-text text-secondary flex items-center justify-center text-xl flex-shrink-0">
      <i class="fa-regular fa-calendar-check"></i>
    </div>
    <div><strong class="block uppercase text-xs text-text">QUAN?</strong><span class="text-xl font-bold text-text">20 - 25 Dec.</span></div>
  </li>
  <li class="flex items-start gap-4">
    <div class="h-[45px] w-[45px] bg-text text-secondary flex items-center justify-center text-xl flex-shrink-0"><i class="fa-solid fa-location-dot"></i></div>
    <div><strong class="block uppercase text-xs text-text">ON?</strong><span class="text-xl font-bold text-text">Plaça Església</span></div>
  </li>
  <li class="flex items-start gap-4">
    <div class="h-[45px] w-[45px] bg-text text-secondary flex items-center justify-center text-xl flex-shrink-0"><i class="fa-solid fa-utensils"></i></div>
    <div><strong class="block uppercase text-xs text-text">PREU</strong><span class="text-xl font-bold text-text">Tapa 4€</span></div>
  </li>
</ul>
